{% extends "base.html" %}

{% block title %}Edit Author{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(function(){
			onNameChange();
		});

		function onSave(){
			var val = $("#name").val();
			var data = {name : $.trim(val)}

			$.getJSON(
			{% if author is defined %}
			  "/author_save/{{ author.id }}",
			{% else %}
			  "/author_save",
			{% endif %}
			 data,
			 function(data, code) {
				if(!data.ok) {
					alert(data.msg);
				}
				else {
					window.location = '/';
				}
			 }
			);
		}

		function onCancel(){
			window.location = '/';
		}

		function onNameChange(){
			var val = $("#name").val();
			if ($.trim(val) == '')
				$('#save').attr("disabled", true);
			else
				$('#save').attr("disabled", false);
		}

	</script>
{% endblock %}

{% block main %}
	<h2 class="demoHeaders">
	{% if author is defined %}
		Edit Author
	{% else %}
		New Author
	{% endif %}
	</h2>

	<p>
		<strong>Name</strong><br>
		<input id="name" type="text" onkeyup="onNameChange();"
		{% if author is defined %}
			value="{{ author.name }}"
		{% endif %}
		/>

	</p>
		<input id="save" value="Save" type="button" onclick="onSave();">
		<input id="cancel" value="Cancel" type="button" onclick="onCancel();">
	</p>
{% endblock %}

